
:root {
    --kardinal-crvena: #bd2031;
    --zuta: #fff44f;
    --platinum: #e5e4e2;
    --zelena: #004225; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--platinum);
}







