
.main {
    min-height: 100vh;
    .naslov{
        color: var(--kardinal-crvena);

    }
}

.main2 {
    min-height: 100vh;
    background-color: var(--zelena);
    // overflow: hidden;
    width: 100%;

    .ime {
        width: 100%;

        h2 {
            // font-size: 1rem;
            text-align: center;
            padding-top: 20rem;
        }

    }

    
}